h1 {
    font-family:"DM Sans";
    color: #E0B451;
    text-align:center;
	 padding:-5px;
}

h2 {
    color:#E0B451 ;
    text-align:center;
	font-family:"Tahoma";
}
body {
    	background-color: #260a15;
	background-size: cover;
	background-attachment: fixed;
	font-family:"Tahoma";
}
header {
	margin: -8px;
	background-color:#000000;
}

header img {
  max-width: 80%;
}


#navbar {
  overflow: hidden;
  margin: -8px;
  background-color:#000000;
  backdrop-filter:blur(10px);
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#carthage {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: black;
    background-image: url(3.png);
    border: 1px #E0B451;
    border-radius:2px;
    background-size: cover;
    display: flex;
    padding: 40px;
    justify-content: center;
    border-radius: 30px;
    height: 200px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#carthage h1 {
    text-align: center;
    padding:-5px;
    color: #ffffff;
}

#carthage:hover{
    transform: scale(1.03)
}
