h1 {
    font-family:"DM Sans";
    color: ;
    text-align:center;
	 padding:-5px;
}

h2 {
    color: ;
    text-align:center;
	font-family:"Tahoma";
}
body {
    	background-color: #260a15;
	background-size: cover;
	background-attachment: fixed;
	font-family:"Tahoma";
}
