h1 {
    font-family:"DM Sans";
    color: ;
    text-align:center;
	 padding:-5px;
}

h2 {
    color:#500000;
    text-align:center;
	font-family:"Tahoma";
    text-shadow: 2px 0 #FFA800, -2px 0 #FFA800, 0 2px #FFA800, 0 -2px #FFA800,
                 1px 1px #FFA800, -1px -1px #FFA800, 1px -1px #FFA800, -1px 1px #FFA800;
}
